#### Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.model_selection import train_test_split

#### Importing the data

In [2]:
data = pd.read_csv('Advertising.csv')
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

#### Dropping the  unwanted columns

In [3]:
data.drop(columns = ['Unnamed: 0'],inplace = True)

#### EDA

In [4]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
data.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [6]:
data.dtypes

TV           float64
Radio        float64
Newspaper    float64
Sales        float64
dtype: object

#### Statitical analysis

In [7]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [8]:
data[data['Sales'] == data['Sales'].max()] #sales are max when tv are higher and put good money on televsion advertising

        TV  Radio  Newspaper  Sales
175  276.9   48.9       41.8   27.0

In [9]:
data[data['Sales'] == data['Sales'].min()] #sales are min when tv advertising is min

      TV  Radio  Newspaper  Sales
130  0.7   39.6        8.7    1.6

In [10]:
data[data['Radio'] == data['Radio'].max()]  #clearly says reduce the amount on radio and put them in newspaper and tv to increase the sales

       TV  Radio  Newspaper  Sales
58  210.8   49.6       37.7   23.8

In [11]:
data[data['TV'] == data['TV'].max()]

        TV  Radio  Newspaper  Sales
101  296.4   36.3      100.9   23.8

In [12]:
data[data['Newspaper'] == data['Newspaper'].max()]

      TV  Radio  Newspaper  Sales
16  67.8   36.6      114.0   12.5

In [13]:
data[data['Newspaper'] == data['Newspaper'].min()]

       TV  Radio  Newspaper  Sales
33  265.6   20.0        0.3   17.4

In [14]:
data[data['Radio'] == data['Radio'].min()]

       TV  Radio  Newspaper  Sales
127  80.2    0.0        9.2    8.8

#### Finding the correlation between the features

In [15]:
data.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

#### Insights :

-> Reduce the amount in Radio advertising
-> The sales are minimum when Tv adverstising are minimum and newspaper advertising are low
-> Increase the Tv adverstising to increase the sales
-> Reduce amout in Radio and put the money in Tv and Newspaper advertising to increase good number of sales
-> when all three advertising platforms are min the sales are very less when compared to other
-> Tv advertisement has bigger impact on the sales
->Tv advertising and sales are directly proportional to each other

In [18]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1:].values

In [20]:
y

array([[22.1],
       [10.4],
       [ 9.3],
       [18.5],
       [12.9],
       [ 7.2],
       [11.8],
       [13.2],
       [ 4.8],
       [10.6],
       [ 8.6],
       [17.4],
       [ 9.2],
       [ 9.7],
       [19. ],
       [22.4],
       [12.5],
       [24.4],
       [11.3],
       [14.6],
       [18. ],
       [12.5],
       [ 5.6],
       [15.5],
       [ 9.7],
       [12. ],
       [15. ],
       [15.9],
       [18.9],
       [10.5],
       [21.4],
       [11.9],
       [ 9.6],
       [17.4],
       [ 9.5],
       [12.8],
       [25.4],
       [14.7],
       [10.1],
       [21.5],
       [16.6],
       [17.1],
       [20.7],
       [12.9],
       [ 8.5],
       [14.9],
       [10.6],
       [23.2],
       [14.8],
       [ 9.7],
       [11.4],
       [10.7],
       [22.6],
       [21.2],
       [20.2],
       [23.7],
       [ 5.5],
       [13.2],
       [23.8],
       [18.4],
       [ 8.1],
       [24.2],
       [15.7],
       [14. ],
       [18. ],
       [ 9.3],
       [ 9.5],
       [13.4],
       [18.9],
       [22.3],
       [18.3],
       [12.4],
       [ 8.8],
       [11. ],
       [17. ],
       [ 8.7],
       [ 6.9],
       [14.2],
       [ 5.3],
       [11. ],
       [11.8],
       [12.3],
       [11.3],
       [13.6],
       [21.7],
       [15.2],
       [12. ],
       [16. ],
       [12.9],
       [16.7],
       [11.2],
       [ 7.3],
       [19.4],
       [22.2],
       [11.5],
       [16.9],
       [11.7],
       [15.5],
       [25.4],
       [17.2],
       [11.7],
       [23.8],
       [14.8],
       [14.7],
       [20.7],
       [19.2],
       [ 7.2],
       [ 8.7],
       [ 5.3],
       [19.8],
       [13.4],
       [21.8],
       [14.1],
       [15.9],
       [14.6],
       [12.6],
       [12.2],
       [ 9.4],
       [15.9],
       [ 6.6],
       [15.5],
       [ 7. ],
       [11.6],
       [15.2],
       [19.7],
       [10.6],
       [ 6.6],
       [ 8.8],
       [24.7],
       [ 9.7],
       [ 1.6],
       [12.7],
       [ 5.7],
       [19.6],
       [10.8],
       [11.6],
       [ 9.5],
       [20.8],
       [ 9.6],
       [20.7],
       [10.9],
       [19.2],
       [20.1],
       [10.4],
       [11.4],
       [10.3],
       [13.2],
       [25.4],
       [10.9],
       [10.1],
       [16.1],
       [11.6],
       [16.6],
       [19. ],
       [15.6],
       [ 3.2],
       [15.3],
       [10.1],
       [ 7.3],
       [12.9],
       [14.4],
       [13.3],
       [14.9],
       [18. ],
       [11.9],
       [11.9],
       [ 8. ],
       [12.2],
       [17.1],
       [15. ],
       [ 8.4],
       [14.5],
       [ 7.6],
       [11.7],
       [11.5],
       [27. ],
       [20.2],
       [11.7],
       [11.8],
       [12.6],
       [10.5],
       [12.2],
       [ 8.7],
       [26.2],
       [17.6],
       [22.6],
       [10.3],
       [17.3],
       [15.9],
       [ 6.7],
       [10.8],
       [ 9.9],
       [ 5.9],
       [19.6],
       [17.3],
       [ 7.6],
       [ 9.7],
       [12.8],
       [25.5],
       [13.4]])

#### Splitting the data into train and test sets

In [21]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.25,random_state = 42)

#### Creating the model and training of the model

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [24]:
print("TRAINING ACCURACY OF THE MODEL : ", model.score(X_train,y_train)*100,'%')

TRAINING ACCURACY OF THE MODEL :  89.66445527601498 %

In [25]:
print("TEST ACCURACY OF THE MODEK : ",model.score(X_test,y_test)*100,'%')

TEST ACCURACY OF THE MODEK :  89.35163320163659 %

In [26]:
y_pred = model.predict(X_test)

#### Testing on unknown advertising data of tv, radio , newspaper and predicting the sales accordingly

In [30]:
#new data
Tv = float(input("Enter the advertising of Tv :"))
radio = float(input("Enter the advertising of radio : "))
news = float(input("Enter the advertising of newpapers : "))
dict1 = {'Tv':Tv,'radio' : radio,'news':news}
df = pd.DataFrame([dict1])
t1 = df.iloc[:,:].values
t2 = model.predict(t1)
print("The Predicted Sales based on the advertising is : ",t2[0][0])

Enter the advertising of Tv :230.1
Enter the advertising of radio : 37.8
Enter the advertising of newpapers : 69.2
The Predicted Sales based on the advertising is :  20.647334230561945